* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'zilla slab', serif;
  font-size: 1.5rem;
}

.container {
  display: flex;
  width: 100%;
  padding: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.char {
  color: black;
}

.char.correct {
  color: rgb(24, 205, 27);
  border-bottom: solid black;
}

.char.incorrect {
  color: rgb(252, 38, 38);
  border-bottom: solid rgb(252, 38, 38);
}
