body {
  font-family: sans-serif;
}

h1 {
  text-align: left;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc((100% / 3) * 2);
}
