body {
  font-family: "Quicksand", sans-serif;
}

h1, h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-style: italic;
}

p {
  line-height: 1.5;
}
